@font-face {
    font-family: 'Kantumruy';
    src:url('fonts/Kantumruy-Regular.ttf') format('woff2'),
        url('fonts/Kantumruy-Light.ttf') format('woff2'),
        url('fonts/Kantumruy-Bold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    border: 0;
}

#wrapper {
    margin: auto;
    height: 100vh;
    background-color: #D7D2C7;
}

nav {
    padding: 0;
    background-color: #939393;
    font-family: 'Kantumruy', sans-serif;
    font-weight: 700;
    font-size: 30;
    box-shadow: 0 1px 10px #141414;
}

nav ul {
    margin: 0;
    padding-left: 1%;
    list-style: none;
    display: flex;
}
nav ul li a {
    text-decoration: none;
    color: #434343;
}

nav ul li :hover{
    color: #141414;
    transition: 300ms;
}

nav ul span {
    margin-left: 1%;
    margin-right: 1%;
    color: #AEAEAE;
} 

h1 {
    margin-top: 2%;
    text-align: center;
    font-family: 'Kantumruy', sans-serif;
    font-weight: 700;
    font-size: 3vw;
    margin-bottom: 0;
}

.content {
    display: flex;
    margin: 0 3vw 0 3vw;
}

.content .table {
    background-color: #D9D9D9;
    width: 60vw;
    height: 75vh;
    border: 1px black solid;
    overflow-y: auto;
    overflow-x: hidden;
}

.content .table table {
    width: 100%;
    border-collapse: collapse;
}

.content .buttons {
    margin: 2vh 0 0 7vw;
}

.content .buttons .button {
    margin-top: 7vh;
    padding: .5vh 1.5vw .5vh .5vw;
    border-radius: 2vh;
    background-color: #F3F0CB;
    height: 8vh;
    display: flex;
    box-shadow: 0px 3px 10px #141414;
    cursor: pointer;
    font-family: 'Kantumruy', sans-serif;
    font-weight: 700;
    font-size: 1.9vw;
}

.content .buttons .button p{
    margin: auto;
    margin-left: 1vw;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #D7D2C7;
    padding: 20px;
    border-radius: 1.5vh;
    text-align: center;
    width: 30vw;
}

.popup-content h2 {
    font-family: 'Kantumruy', sans-serif;
    font-weight: 700;
    font-size: 1.8vw;
}

.popup-content img {
    float: right;
    width: 1.3vw;
    cursor: pointer;
} 

.popup-content #addProductForm, .popup-content #editProductForm, .popup-content #removeProductForm, .popup-content #searchProductForm {
    margin: auto;
    width: 80%;
}

.popup-content #addProductForm #productName, .popup-content #editProductForm #editProductName, .popup-content #removeProductForm #removeProductName, .popup-content #searchProductForm #searchProductName {
    width: 89%;
    height: 4vh;

}

.popup-content #addProductForm div, .popup-content #editProductForm div, .popup-content #searchProductForm div {
    display: flex;
    width: 90%;
    margin: auto;
}

.popup-content #addProductForm div #productPrice, .popup-content #editProductForm div #editProductPrice, .popup-content #searchProductForm div #searchProductPrice {
    margin-right: 1vw;
}

.popup-content #addProductForm div #productQuantity, .popup-content #editProductForm div #editProductQuantity, .popup-content #searchProductForm div #searchProductQuantity {
    margin-left: 1vw;
}

.popup-content #editProductForm #editProductId, .popup-content #removeProductForm #removeProductId, .popup-content #searchProductForm #searchProductId {
    width: 89%;
}

.popup-content #addProductForm input, .popup-content #editProductForm input, .popup-content #removeProductForm input, .popup-content #searchProductForm input {
    width: 100%;
    padding: 0;
    height: 4vh;
    line-height: 4vh;
    font-size: 1vw;
    text-align: center;
    border: 0;
    border-radius: 0.5vh;
}

.popup-content #addProductForm input:focus, .popup-content #editProductForm input:focus, .popup-content #removeProductForm input:focus, .popup-content #searchProductForm input:focus {
    outline: none;
}

.popup-content #addProductForm input::placeholder, .popup-content #editProductForm input::placeholder, .popup-content #removeProductForm input::placeholder, .popup-content #searchProductForm input::placeholder {
    font-weight: 700;
    font-size: 1vw;
    text-align: center;
}

.popup-content #searchProductForm .label {
    width: 50%;
    height: 4vh;
    border-radius: 0.5vh;
    background-color: #fff;
    font-family: sans-serif;
    font-size: 1vw;
    font-weight: 700;
    color: #777;
}

.popup-content #searchProductForm label {
    margin-left: 1.5vw;
    line-height: 4vh;
}

.popup-content #searchProductForm span {
    margin-left: 1.5vw;
    line-height: 4vh;
}

.popup-content #searchProductForm #searchProductPriceDiv{
    margin-right: 1vw;
}

.popup-content #searchProductForm #searchProductQuantity/Div{
    margin-left: 1vw;
}

button {
    background-color: #F3F0CB;
    margin: 2vh 0 3vh 0;
    border: 0;
    width: 90%;
    height: 5vh;
    border-radius: 0.5vh;
    font-weight: 700;
    font-size: 1.1vw;
    cursor: pointer;
}
